<div class="container">
    <p class="text-center">
        Here's more info about your plant: 
    </p>
    <div class="container explore-card">
        <div class="card mb-3">
            <div class="card-img-top">
                <img class="explore-img rounded mx-auto d-block" src="<%= plant.image %>" alt="<%= plant.name %>">
            </div>
            <div class="col-md-12">
            <div class="card-body">
                <h5 class="card-title capitalize"><%= plant.name %></h5>
                <p class="card-text">
                    <h5 class="capitalize">Scientific Name: <%= plant.scientificName %></h5>
                    
                    <% if(!plant.nickname) { %>
                            <h6>Nickname: None Yet!</h6>
                            <div>
                                <form class="row g-2" method="POST" action="/plant/<%= plant.id %>/?_method=PUT">
                                    <div class="col-auto">
                                      <input type="text" class="form-control" name="nickname" id="nickname" placeholder="Nickname">
                                    </div>
                                    <div class="col-auto">
                                      <button type="submit" class="btn landing-btn mb-2">Create</button>
                                    </div>
                                </form>
                            </div>
                        <% } else { %>
                            <h6>Nickname: <%= plant.nickname %></h6>
                            <div>
                                <form class="row g-2" method="POST" action="/plant/<%= plant.id %>/?_method=PUT">
                                    <div class="col-auto">
                                      <input type="text" class="form-control" name="nickname" id="nickname" placeholder="Nickname">
                                    </div>
                                    <div class="col-auto">
                                      <button type="submit" class="btn landing-btn mb-2">Update</button>
                                    </div>
                                </form>
                            </div>
                        <% } %>
                </p>
            </div>
          </div>
    </div>
</div>

