<div class="container">
    <p class="text-center">
        Greenery is for those who love planning just as much as they love gardening. Leveraging Trefle, a global plants API, you’ll have the chance to learn more about plants, especially plants native to your current garden’s location. 
        <br/>
        <br/>
        Like a plant? Save it to your garden and utilize our tracker to keep notes on your plants progress! 
    </p>
    <p class="text-center">
        Here's more info about your plant: 
    </p>
    <div class="container text-center">
        <div>
            <img width="25%" src="<%= plant.image_url %>" alt="<%= plant.common_name %>" class="img-thumbnail">
        </div>
        <h2><%= plant.common_name %></h2>
        <h5><%= plant.scientific_name %></h5>
        <h5><%= plant.duration %></h5>
        <p>Native to: <%= native.native %></p>
        <p>Growth Habit: <%= grow.growth_habit %></p>
        <p>Average Height: <%= grow.average_height.cm %> cm</p>
        <p>Light Needed: <%= growth.light %></p>
        <p>Bloom: <%= growth.bloom_months %></p>
        <p>Soil Texture: <%= growth.soil_texture %></p>
        <p>Min Water:<%= growth.minimum_precipitation.mm %></p>
        <p>Max Water:<%= growth.maximum_precipitation.mm %></p>
        <p>Min Temp: <%= growth.minimum_temperature.deg_f %></p>
        <p>Max Temp<%= growth.maximum_temperature.deg_f %></p>
        <p>Atmospheric Humidity: <%= growth.atmospheric_humidity %></p>
        <% if (!currentUser) { %>
            <li class="nav-link"><a href="/auth/login">Log in to add to your garden</a></li>
          <% } else { %>
            <form action="/garden/new/<%= currentUser.id %>" method="POST">
                <input hidden type="text" name="name" value="<%= plant.common_name %>">
                <input hidden type="text" name="scientificName" value="<%= plant.scientific_name %>">
                <input hidden type="text" name="image" value="<%= plant.image_url %>">
                <input hidden type="slug" name="slug" value="<%= plant.slug %>">
                <button class="btn btn-primary" type="submit">Add to Garden</button>
            </form>
        <% } %>
    </div>
</div>