<div class="container">
    <p class="text-center">
        Like a plant? Save it to your garden and utilize our tracker to keep notes on your plants progress! 
    </p>
    
    <div class="container">
        <% plant.forEach(function(plant) { %>
                <div class="container">
                    <div>
                        <img width="25%" src="<%= plant.image_url %>" alt="<%= plant.common_name %>" class="img-thumbnail">
                    </div>
                    <h2><%= plant.common_name %></h2>
                    <h5><%= plant.scientific_name %></h5>
                    <button class="btn landing-btn" onclick="document.location='/explore/<%= plant.slug %>'">Learn More</button> 
                </div>
        <% }) %>
    </div>  

</div>